@page
@model NetwiseApp.Pages.IndexModel
@{
	<div >
		<form method="post">
			<button type="submit" >Get Cat Fact</button>
		</form>

		@if (!string.IsNullOrEmpty(Model.CatFactMessage))
		{
			<div>
				<h3>Cat Fact:</h3>
				<p>@Model.CatFactMessage</p>
			</div>
		}
	</div>
}
